$primary-color: rgb(40, 15, 68);
$secondary-color: rgb(156, 12, 63);

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s ease;
  box-sizing: border-box;
}
img {
  height: 27px;
  margin: 5px 10px 5px 20px;
}

header {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 100000;
  padding: 10px 30px 10px 30px;
}

.rotateIn {
  transform: rotate(180deg);
}

.rotateOut {
  transform: rotate(0deg);
}

.nav-sign {
  background-color: $primary-color;
  color: white !important;
  width: 100px;
}

.minTab {
  background-color: rgb(240, 240, 240);
  padding: 25px;
  margin: 5px 15px 15px 15px;
  width: 25%;
  height: auto;
  display: flex; // <--- AGREGA ESTA LÍNEA
  flex-direction: column;
  justify-content: start; // <--- AGREGA ESTA LÍNEA
  align-items: start; // <--- AGREGA ESTA LÍNEA
  border-radius: 10px;
  border: 1px solid transparent;
  gap: 10px;
  cursor: pointer;

  h4 {
    font-size: 20px;
    font-weight: 600;
    color: $primary-color;
    width: 100%;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    color: $primary-color;
    width: 100%;
    text-transform: capitalize;
  }
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid $primary-color;
  }
}

.navbar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.439);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  max-height: 600px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    height: 100%;
    width: 100%;
  }

  ul {
    display: flex;
    padding: 0;
    margin: 5px;
    align-self: flex-end;

    li {
      margin: 0px 5px;
      list-style: none;
      border-radius: 10px;
      border: 1.5px solid transparent;

      &:hover {
        background-color: transparent;
        border: 1.5px solid $primary-color;
        a {
          color: $primary-color;
        }
        .icon {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg)
            brightness(100%) contrast(100%);
        }
      }

      a {
        cursor: pointer;
        color: $primary-color;
        text-decoration: none;
        padding: 10px;
        transition: 0.3s;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        border-radius: 10px;

        img {
          height: 8px;
          margin: 0px 10px;
          rotate: 0deg;
          transition: transform 0.3s ease;
        }
      }
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.tab-container {
  width: 100%;
  animation: slideDown 0.5s ease forwards;
  display: flex;
  flex-direction: wrap;

  &.hidden {
    animation: slideUp 0.5s ease forwards;
  }
}
