<div class="container">
    <div class="profile">
        <img src="assets/images/profile.jpg" alt="Profile Picture">
        <h3>John Doe</h3>
        <img src="icons/flecha-abajo.svg" alt="">
    </div>

    <div class="menu">
        <div class="main">
            <ul>
                <li>
                    <a routerLink="/dashboard" routerLinkActive="active">
                        <img src="" alt="" class="icon">
                        Dashboard 
                        <img src="icons/flecha-abajo.svg" alt=""> 
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard" routerLinkActive="active">
                        <img src="" alt="" class="icon">
                        Dashboard 
                        <img src="icons/flecha-abajo.svg" alt=""> 
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard" routerLinkActive="active">
                        <img src="" alt="" class="icon">
                        Dashboard 
                        <img src="icons/flecha-abajo.svg" alt=""> 
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard" routerLinkActive="active">
                        <img src="" alt="" class="icon">
                        Dashboard 
                        <img src="icons/flecha-abajo.svg" alt=""> 
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard" routerLinkActive="active">
                        <img src="" alt="" class="icon">
                        Dashboard 
                        <img src="icons/flecha-abajo.svg" alt=""> 
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard" routerLinkActive="active">
                        <img src="" alt="" class="icon">
                        Dashboard 
                        <img src="icons/flecha-abajo.svg" alt=""> 
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard" routerLinkActive="active">
                        <img src="" alt="" class="icon">
                        Dashboard 
                        <img src="icons/flecha-abajo.svg" alt=""> 
                    </a>
                </li>
                
            </ul>
        </div>
        <div class="others">
            <ul>
                <li>
                    <a routerLink="/dashboard" routerLinkActive="active">
                        <img src="" alt="" class="icon">
                        Dashboard 
                        <img src="icons/flecha-abajo.svg" alt=""> 
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard" routerLinkActive="active">
                        <img src="" alt="" class="icon">
                        Dashboard 
                        <img src="icons/flecha-abajo.svg" alt=""> 
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="logout"></div>
</div>