<aside class="side-nav">

    <span class="titles" style="color: rgb(156, 12, 63);">EPLEAR ID</span>
    <div class="side-nav-header">
        <img src="/images/user-profile.jpg" alt="" class="profile-pic">
        <h5 >Alejandra guzman</h5>
        <img src="icons/flecha-abajo.svg" alt="" class="arrow">

    </div>


    <nav class="side-nav-menu">

        <ul>
            <span class="titles">PRINCIPAL</span>
            <li>
                <a href="/dashboard" class="side-nav-link">
                    <img src="/icons/logo-only.svg" alt="" class="profile-pic">
                    <span>DASHBOARD</span>
                    <img src="icons/flecha-abajo.svg" alt="" class="arrow">
                </a>
            </li>
            <li>
                <a href="/dashboard" class="side-nav-link">
                    <img src="/icons/ingreso.svg" alt="" class="profile-pic">
                    <span>INGRESOS</span>
                    <img src="icons/flecha-abajo.svg" alt="" class="arrow">
                </a>
            </li>
            <li>
                <a href="/dashboard" class="side-nav-link">
                    <img src="/icons/product.svg" alt="" class="profile-pic">
                    <span>PRODUCTOS</span>
                    <img src="icons/flecha-abajo.svg" alt="" class="arrow">
                </a>
            </li>
            <li>
                <a href="/dashboard" class="side-nav-link">
                    <img src="/icons/website.svg" alt="" class="profile-pic">
                    <span>TIENDA</span>
                    <img src="icons/flecha-abajo.svg" alt="" class="arrow">
                </a>
            </li>
            <li>
                <a href="/dashboard" class="side-nav-link">
                    <img src="/icons/onepay.svg" alt="" class="profile-pic">
                    <span>ONE PAY</span>
                    <img src="icons/flecha-abajo.svg" alt="" class="arrow">
                </a>
            </li>
            <li>
                <a href="/dashboard" class="side-nav-link">
                    <img src="/icons/studio.svg" alt="" class="profile-pic">
                    <span>STUDIO</span>
                    <img src="icons/flecha-abajo.svg" alt="" class="arrow">
                </a>
            </li>
            <span class="titles">OTROS</span>
            <li>
                <a href="/dashboard" class="side-nav-link">
                    <img src="/icons/onepay.svg" alt="" class="profile-pic">
                    <span>ONE PAY</span>
                    <img src="icons/flecha-abajo.svg" alt="" class="arrow">
                </a>
            </li>
            <li>
                <a href="/dashboard" class="side-nav-link">
                    <img src="/icons/studio.svg" alt="" class="profile-pic">
                    <span>STUDIO</span>
                    <img src="icons/flecha-abajo.svg" alt="" class="arrow">
                </a>
            </li>

        </ul>

    </nav>

</aside>
