$primary-color: rgb(40, 15, 68);
$secondary-color: rgb(156, 12, 63);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $primary-color;
}

.titles {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.284);
  font-weight: 600;
  margin-bottom: 10px;
}

li {
  list-style: none;
}
.arrow {
  width: 12px;
  transform: rotate(90deg);
}

.side-nav {
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-between;
  align-items: start;
  position: fixed;
  left: 0;
  overflow: auto;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.065);
}

.side-nav-header {
  padding: 0px 20px 15px 5px;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
  }

  h5 {
    color: $primary-color;
    font-size: 13.5px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }
}

.logo {
  margin: 0;
  font-size: 1.5rem;
}

.side-nav-menu {
  flex-grow: 1;
  padding: 0;
  margin: 0;
  width: 100%;
}

.side-nav-menu ul {
  list-style: none;
  padding: 0;
}

.side-nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  color: #ecf0f1;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 100%;
  background-color: rgba(40, 15, 68, 0.043);
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 7px;

  span {
    font-size: 13px;
    font-weight: 650;
    color: $primary-color;
    text-align: start;
  }

  &:hover {
    background-color: rgba(156, 12, 62, 0.183);
  }
}

.side-nav-link i {
  margin-right: 10px;
}

.sub-menu-link {
  animation: slideDown 0.3s ease-out;
  li {
    padding: 12px 20px;
    font-weight: 650;
    font-size: 12.5px;
    margin: 8px 0px 0px 15px;
    background-color: rgba(40, 15, 68, 0.034);
    text-transform: uppercase;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 5px;

    a {
      text-decoration: none;
      color: $primary-color;
    }

    &:hover {
      background-color: rgba(156, 12, 62, 0.183);
      font-size: 12.8px;
    }
  }
}
.rotateArrowIn {
  transform: rotate(180deg);
  transition: all 0.3s;
}
.rotateArrowIut {
  transform: rotate(90deg);
  transition: all 0.3s;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.side-nav-container {
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.114);;
  width: 250px;
  height: 100vh;
}
