<header>
    <div class="logo">
      <a href="/">
        <img src="icons/logo-lineal.svg" alt="Logo Lineal">

      </a>
    </div>
    <div class="cta">
    <nav>
      <ul class="nav-links">
        <li><a href="#inicio">PROYECTOS</a></li>
        <li><a href="#acerca-de">servicios</a></li>
        <li><a href="#servicios">Soluciones</a></li>
        <li><a href="#servicios">Blog</a></li>
        <li><a href="#servicios">studio</a></li>
      </ul>
    </nav>
      <button href="#registrarse" class="button">Ingresar</button>
    </div>
</header>
  