<div class="header">
  <h2>Categorias</h2>
  <div>
    <button class="btn-difuse" (click)="addForm()">
      <i class="fa fa-check"></i> Nueva Categoría
    </button>
    <button class="btn-difuse"><i class="fa fa-check"></i> Importar Productos</button>
    <input type="text" placeholder="Buscar producto" class="filter" />
    <button ><i class="fa fa-check"></i> Buscar</button>

  </div>
</div>
<section class="u-container">
  <div class="form">
    <form *ngFor="let form of forms; let i = index" [formGroup]="form" (ngSubmit)="onSubmit(i)" class="form">
      <!-- Campos del formulario -->
      <label for="name-{{i}}">Nombre</label>
      <input id="name-{{i}}" formControlName="name" type="text" placeholder="Nombre de la categoría" />
      <span *ngIf="form.get('name')?.touched && form.get('name')?.invalid" class="error">
        * El nombre es obligatorio.
      </span>

      <label for="description-{{i}}">Descripción</label>
      <textarea id="description-{{i}}" formControlName="description" placeholder="Descripción corta"></textarea>

      <div class="buttons">
        <button type="submit" [disabled]="form.invalid">Guardar Categoría</button>
        <button type="button" class="btn-danger" (click)="forms.splice(i, 1)">Cancelar</button>
      </div>
    </form>
  </div>

  <div class="preview-container">
    <div class="preview" *ngFor="let item of Categories">
      <h3>{{ item.name }} <span> Activo</span></h3>
      <p>{{ item.description }}</p>

      <div class="buttons">
        <button>Editar</button>
        <button class="btn-danger" (click)="deleteCategory(item.id)">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</section>
