@use "../../../../global-styles/button" as *;

.u-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0px 20px;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
}

.preview-container {
  position: sticky;
  top: 0;
  height: auto; /* Para que ocupe toda la altura */

}

input,
select,
textarea {
  padding: 14px;
  background-color: white;
  margin-bottom: 15px;
  width: 90%;
  font-size: 14px;
  font-weight: 600;
  color: $primary-color;
  border: 1px solid rgba(40, 15, 68, 0.155);
  margin: 10px 0px 10px 0px;
  border-radius: 7px;

  &:focus {
    outline: none;
    border: 1.5px solid $secondary-color;
  }
}

label {
  font-size: 14px;
  color: $primary-color;
  text-transform: uppercase;
  font-weight: 550;
}

.preview {
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: rgb(255, 255, 255);
  padding: 17px;
  margin: 0px 0px 17px 0px;
  transition: all 0.3s;
  border-radius: 14px;
  gap: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  h3 {
    font-size: 17px;
    font-weight: 650;
    color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  p {
    color: $primary-color;
    font-size: 15px;
  }
  div {
    display: flex;
  }
  &:hover {
    cursor: pointer;
  }
}

span {
  color: green;
  font-weight: 600;
  font-size: 17px;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}


.buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 5px;

}