
$primary-color: rgb(40, 15, 68);
$secondary-color: rgb(156, 12, 63);



button {
  margin: 0px;
  display: inline;
  margin: 10px 10px 0px 0px;
  padding: 10px;
  font-size: 12px;
  border: 1.5px solid $primary-color;

  &:hover {
    background-color: transparent;
    color: $primary-color;
    cursor: pointer;
  }
}

  .btn-danger {
  background-color: $secondary-color;
  border: 1.5px solid $secondary-color;
  &:hover {
    background-color: transparent;
    color: $secondary-color;
    cursor: pointer;
  }
}