
$primary-color: rgb(40, 15, 68);
$secondary-color: rgb(156, 12, 63);

button {
    background-color: $primary-color;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    margin:0px ;
    font-size: 12px;
    transition: 0.3s;

    &:hover {
        background-color: $primary-color;
    }

}