<div id="fullpage">
  <section class="section">
    <div class="container1">
      <div class="hero-text">
        <div class="card-tittle">
          <h1>Somos la evolución de lo cotidiano</h1>
          <p>
            Eplear® es una startup de software que desarrolla soluciones
            innovadoras para emprendedores y empresas, creando plataformas que
            impulsan sus ventas y aplicaciones personalizadas que facilitan la
            transformación digital con tecnología escalable y centrada en el
            usuario.
          </p>
        </div>
        <div class="updates">
          <h3>Eplear One pay 8.2</h3>
          <button class="btn-danger">Probar</button>
        </div>
        <div class="news-card">
          <img src="images/portadalogin.jpg" alt=" " />
          <div>
            <h5>NOVEDADES</h5>
            <h4>Listardo: La App que cambiara la forma de comprar en casa</h4>
            <button>Ver Mas</button>
          </div>
        </div>
      </div>

      <div class="hero-image">
        <img
          class="rotate"
          src="icons/rotate.svg"
          alt="Imagen de productos ecológicos"
        />
      </div>
    </div>
  </section>

  <section class="section">
    <div class="about">
      <h2>Sobre Nosotros</h2>
      <p>
        Impulsamos a las empresas con innovación en software, creando
        plataformas escalables que potencian sus ventas y aplicaciones a medida
        con la eficiencia de un equipo digital dedicado.
      </p>
      <img src="icons/logos/logos.svg" alt="Imagen sobre nosotros" />
      <button>Conocer Productos</button>
    </div>
  </section>

  <section class="section">
    <div class="listardo">
      <div>
        <h2>Listardo</h2>
        <p>
          La App que cambiará la forma de comprar en casa. Descubre la
          revolución en compras con Listardo, tu asistente personal para
          gestionar y optimizar tus compras desde la comodidad de tu hogar.
        </p>
        <div>

        </div>
      </div>
      <img src="images/mockup.png" alt="">
    </div>
  </section>

  <section class="section">
    <div class="support">
            <div>
        <h2>Listardo</h2>
        <p>
          La App que cambiará la forma de comprar en casa. Descubre la
          revolución en compras con Listardo, tu asistente personal para
          gestionar y optimizar tus compras desde la comodidad de tu hogar.
        </p>
        <button>Conocer Más</button>
      </div>
      <img src="images/home.png" alt="" />
    </div>
  </section>

  <section class="section">
    <div class="dev">
    </div>
  </section>
</div>
