<section class="dashboard-home">
  <div class="dashboard-header">
    <h1>bienvenido {{userName}}</h1>
  </div>

  <div class="dashboard-grid">
    <div class="card total-income">
      <h2>INGRESOS TOTAL DEL DÍA</h2>
      <p class="amount">$ 1520,14</p>
      <p class="date">15 DE ENERO DEL 2025 2:20 AM</p>
      <button>RETIRAR</button>

      <div class="source">
        <p>SITIO WEB</p>
        <div>
          <p>$ 270,11</p>
          <p style="color: rgba(0, 0, 0, 0.294)">12:00 PM</p>
        </div>
      </div>
      <div class="source">
        <p>TIENDA</p>
        <div>
          <p>$ 270,11</p>
          <p style="color: rgba(0, 0, 0, 0.294)">12:00 PM</p>
        </div>
      </div>
      <div class="source">
        <p>ONE PAY</p>
        <div>
          <p>$ 270,11</p>
          <p style="color: rgba(0, 0, 0, 0.294)">12:00 PM</p>
        </div>
      </div>
    </div>

    <div class="card recent-orders">
      <h2>PEDIDOS RECIENTES</h2>
      <p class="highlight">+ 15 Pedidos</p>
      <button class="btn-outline">VER PEDIDOS</button>

      <div class="order">
        <div>
          <p class="order-costumer">María Carbajal Montes</p>
          <p class="order-time">13:00 PM</p>
        </div>
        <div>
          <p class="order-name">Television AOC 32</p>
          <p class="order-price">$ 215</p>
        </div>
      </div>
      <div class="order">
        <div>
          <p class="order-costumer">María Carbajal Montes</p>
          <p class="order-time">13:00 PM</p>
        </div>
        <div>
          <p class="order-name">Television AOC 32</p>
          <p class="order-price">$ 215</p>
        </div>
      </div>
      <div class="order">
        <div>
          <p class="order-costumer">María Carbajal Montes</p>
          <p class="order-time">13:00 PM</p>
        </div>
        <div>
          <p class="order-name">Television AOC 32</p>
          <p class="order-price">$ 215</p>
        </div>
      </div>
      <div class="order">
        <div>
          <p class="order-costumer">María Carbajal Montes</p>
          <p class="order-time">13:00 PM</p>
        </div>
        <div>
          <p class="order-name">Television AOC 32</p>
          <p class="order-price">$ 215</p>
        </div>
      </div>
      <div class="order">
        <div>
          <p class="order-costumer">María Carbajal Montes</p>
          <p class="order-time">13:00 PM</p>
        </div>
        <div>
          <p class="order-name">Television AOC 32</p>
          <p class="order-price">$ 215</p>
        </div>
      </div>
      <div class="order">
        <div>
          <p class="order-costumer">María Carbajal Montes</p>
          <p class="order-time">13:00 PM</p>
        </div>
        <div>
          <p class="order-name">Television AOC 32</p>
          <p class="order-price">$ 215</p>
        </div>
      </div>
      <div class="order">
        <div>
          <p class="order-costumer">María Carbajal Montes</p>
          <p class="order-time">13:00 PM</p>
        </div>
        <div>
          <p class="order-name">Television AOC 32</p>
          <p class="order-price">$ 215</p>
        </div>
      </div>
    </div>

    <div class="card activity">
      <h2>ÚLTIMA ACTIVIDAD</h2>
      <div class="order">
        <div>
          <p class="order-costumer" style="color: rgb(156, 12, 63)">
            Actualizacion de Datos
          </p>
          <p class="order-time">13:00 PM</p>
        </div>
        <div>
          <p class="order-name">Mi Empresa</p>
        </div>
      </div>
      <div class="order">
        <div>
          <p class="order-costumer" style="color: rgb(156, 12, 63)">
            Actualizacion de Datos
          </p>
          <p class="order-time">13:00 PM</p>
        </div>
        <div>
          <p class="order-name">Mi Empresa</p>
        </div>
      </div>
      <div class="order">
        <div>
          <p class="order-costumer" style="color: rgb(156, 12, 63)">
            Actualizacion de Datos
          </p>
          <p class="order-time">13:00 PM</p>
        </div>
        <div>
          <p class="order-name">Mi Empresa</p>
        </div>
      </div>
      <div class="order">
        <div>
          <p class="order-costumer" style="color: rgb(156, 12, 63)">
            Actualizacion de Datos
          </p>
          <p class="order-time">13:00 PM</p>
        </div>
        <div>
          <p class="order-name">Mi Empresa</p>
        </div>
      </div>
      <div class="order">
        <div>
          <p class="order-costumer" style="color: rgb(156, 12, 63)">
            Actualizacion de Datos
          </p>
          <p class="order-time">13:00 PM</p>
        </div>
        <div>
          <p class="order-name">Mi Empresa</p>
        </div>
      </div>
    </div>

    <div class="card analysis">
      <h2>ANÁLISIS & IA <span class="date-right">ENERO 2025</span></h2>
      <h3>Recomendación para Enero</h3>
      <ul>
        <li>
          Para mantener el impulso de ventas, se recomienda enfocar las
          estrategias en productos populares en diciembre.
        </li>
        <li>Considera promover productos complementarios o de uso continuo.</li>
        <li>
          Por ejemplo, si en diciembre se vendieron muchas licuadoras, enero es
          ideal para ofrecer accesorios como recipientes extra o paquetes de
          mantenimiento.
        </li>
      </ul>
      <div class="chart-placeholder">[Gráfico de tendencia de envíos]</div>
    </div>
  </div>
</section>
