<div class="u-container" [class.closing]="isClosing">
  <div class="header">
    <h2>Editar Producto</h2>
    <p>! Este producto esta incompleto</p>
    <button type="submit" [disabled]="form.invalid">
          Ver Producto
        </button>
  </div>
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
      <label for="name">Nombre</label>
      <input id="name" formControlName="name" type="text" />
      <span
        *ngIf="form.get('name')?.touched && form.get('name')?.invalid"
        class="error"
      >
        * El nombre es obligatorio.
      </span>

      <label for="description">Descripción</label>
      <textarea id="description" formControlName="description"></textarea>

      <label for="price">Precio</label>
      <input id="price" formControlName="price" type="number" min="0" />

      <label for="cost_price">Precio de costo</label>
      <input
        id="cost_price"
        formControlName="cost_price"
        type="number"
        min="0"
      />

      <label for="sku">SKU</label>
      <input id="sku" formControlName="sku" type="text" />

      <label for="stock">Stock</label>
      <input id="stock" formControlName="stock" type="number" min="0" />

      <label for="min_stock">Stock mínimo</label>
      <input id="min_stock" formControlName="min_stock" type="number" min="0" />

      <label for="brand">Marca</label>
      <input id="brand" formControlName="brand" type="text" />

      <label for="weight">Peso (kg)</label>
      <input id="weight" formControlName="weight" type="number" step="0.01" />

      <label for="dimensions">Dimensiones</label>
      <input id="dimensions" formControlName="dimensions" type="text" />

      <div class="buttons">
        <button type="submit" [disabled]="form.invalid">
          Guardar producto
        </button>
        <button type="button" class="btn-danger">Eliminar producto</button>
      </div>
    </form>
  </div>
</div>
