<h3>productos</h3>
<div class="filter-container">
  <input type="text" placeholder="Buscar producto" class="filter"/>
  <select name="" id="" class="filter">
    <option value="">Ordenar por</option>
    <option value="">Nombre</option>
    <option value="">Precio</option>
    <option value="">Fecha de creación</option>
  </select>
</div>

<div class="contProd">
  <div class="product">
    <div class="contProd">
      <img src="images/picture.jpg" alt="Product Image" />
      <div class="atributes">
        <h4>Nombre del producto</h4>
        <span>Categoria</span>
        <p>Precio: $XX.XX</p>
        <p class="isStock">Sin Stock</p>
      </div>
    </div>
    <div class="buttons">
      <button>Editar</button>
      <button style="background-color: rgba(156, 12, 62, 0.897);">Eliminar</button>
    </div>
  </div>
  <div class="product">
    <div class="contProd">
      <img src="images/picture.jpg" alt="Product Image" />
      <div class="atributes">
        <h4>Nombre del producto</h4>
        <span>Categoria</span>
        <p>Precio: $XX.XX</p>
        <p class="notStock">Sin Stock</p>
      </div>
    </div>
    <div class="buttons">
      <button>Editar</button>
      <button style="background-color: rgba(156, 12, 62, 0.897);">Eliminar</button>
    </div>
  </div>
  <div class="product">
    <div class="contProd">
      <img src="images/picture.jpg" alt="Product Image" />
      <div class="atributes">
        <h4>Nombre del producto</h4>
        <span>Categoria</span>
        <p>Precio: $XX.XX</p>
        <p class="isStock">Sin Stock</p>
      </div>
    </div>
    <div class="buttons">
      <button>Editar</button>
      <button style="background-color: rgba(156, 12, 62, 0.897);">Eliminar</button>
    </div>
  </div>
  <div class="product">
    <div class="contProd">
      <img src="images/picture.jpg" alt="Product Image" />
      <div class="atributes">
        <h4>Nombre del producto</h4>
        <span>Categoria</span>
        <p>Precio: $XX.XX</p>
        <p class="isStock">Sin Stock</p>
      </div>
    </div>
    <div class="buttons">
      <button>Editar</button>
      <button style="background-color: rgba(156, 12, 62, 0.897);">Eliminar</button>
    </div>
  </div>
  <div class="product">
    <div class="contProd">
      <img src="images/picture.jpg" alt="Product Image" />
      <div class="atributes">
        <h4>Nombre del producto</h4>
        <span>Categoria</span>
        <p>Precio: $XX.XX</p>
        <p class="isStock">Sin Stock</p>
      </div>
    </div>
    <div class="buttons">
      <button>Editar</button>
      <button style="background-color: rgba(156, 12, 62, 0.897);">Eliminar</button>
    </div>
  </div>
  <div class="product">
    <div class="contProd">
      <img src="images/picture.jpg" alt="Product Image" />
      <div class="atributes">
        <h4>Nombre del producto</h4>
        <span>Categoria</span>
        <p>Precio: $XX.XX</p>
        <p class="isStock">Sin Stock</p>
      </div>
    </div>
    <div class="buttons">
      <button>Editar</button>
      <button style="background-color: rgba(156, 12, 62, 0.897);">Eliminar</button>
    </div>
  </div>
  <div class="product">
    <div class="contProd">
      <img src="images/picture.jpg" alt="Product Image" />
      <div class="atributes">
        <h4>Nombre del producto</h4>
        <span>Categoria</span>
        <p>Precio: $XX.XX</p>
        <p class="isStock">Sin Stock</p>
      </div>
    </div>
    <div class="buttons">
      <button>Editar</button>
      <button style="background-color: rgba(156, 12, 62, 0.897);">Eliminar</button>
    </div>
  </div>
  <div class="product">
    <div class="contProd">
      <img src="images/picture.jpg" alt="Product Image" />
      <div class="atributes">
        <h4>Nombre del producto</h4>
        <span>Categoria</span>
        <p>Precio: $XX.XX</p>
        <p class="isStock">Sin Stock</p>
      </div>
    </div>
    <div class="buttons">
      <button>Editar</button>
      <button style="background-color: rgba(156, 12, 62, 0.897);">Eliminar</button>
    </div>
  </div>
  <div class="product">
    <div class="contProd">
      <img src="images/picture.jpg" alt="Product Image" />
      <div class="atributes">
        <h4>Nombre del producto</h4>
        <span>Categoria</span>
        <p>Precio: $XX.XX</p>
        <p class="isStock">Sin Stock</p>
      </div>
    </div>
    <div class="buttons">
      <button>Editar</button>
      <button style="background-color: rgba(156, 12, 62, 0.897);">Eliminar</button>
    </div>
  </div>
  <div class="product">
    <div class="contProd">
      <img src="images/picture.jpg" alt="Product Image" />
      <div class="atributes">
        <h4>Nombre del producto</h4>
        <span>Categoria</span>
        <p>Precio: $XX.XX</p>
        <p class="isStock">Sin Stock</p>
      </div>
    </div>
    <div class="buttons">
      <button>Editar</button>
      <button style="background-color: rgba(156, 12, 62, 0.897);">Eliminar</button>
    </div>
  </div>
  <div class="product">
    <div class="contProd">
      <img src="images/picture.jpg" alt="Product Image" />
      <div class="atributes">
        <h4>Nombre del producto</h4>
        <span>Categoria</span>
        <p>Precio: $XX.XX</p>
        <p class="isStock">Sin Stock</p>
      </div>
    </div>
    <div class="buttons">
      <button>Editar</button>
      <button style="background-color: rgba(156, 12, 62, 0.897);">Eliminar</button>
    </div>
  </div>
  <div class="product">
    <div class="contProd">
      <img src="images/picture.jpg" alt="Product Image" />
      <div class="atributes">
        <h4>Nombre del producto</h4>
        <span>Categoria</span>
        <p>Precio: $XX.XX</p>
        <p class="isStock">Sin Stock</p>
      </div>
    </div>
    <div class="buttons">
      <button>Editar</button>
      <button style="background-color: rgba(156, 12, 62, 0.897);">Eliminar</button>
    </div>
  </div>
</div>
